/* shared style related */
* {
    /* margin: 0px; */
    /* padding: 0px; */

    font-family: 'Open Sans', sans-serif;



    .bgorange {
        background-color: #FD6E0A;
    }

    .orange {
        color: #FD6E0A;
    }


}



/* nav related style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.btn-p {
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}


.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hardy {
    width: 584px;
    height: 676px;
}

.banner-greeting {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;

}

.banner-des {}

.banner-content {
    max-width: 500px;
}

/* about sec */
.about {
    padding: 130px;
    border-radius: 10px;
    /* background: #FFF; */
    background: #FFF8F3;
    /* margin: 10% auto; */
    margin: 230px 130px;

}
.about-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
}
.about-info{
    line-height: 30px;
  
    text-align: center;
}
/* .about-container{
padding: 10%;
 
} */
.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    margin-top: 130px;

}

.section-des {
    color: #757575;
    text-align: center;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;

}

.about-info-container {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.skill-container {
    display: flex;
    gap: 24px;
    margin-top: 40px;
}

.skill-box {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 33px 33px;
}

.resume-title {
    color: #474747;

    font-size: 30px;

    font-weight: 700;


}
.resume{
    margin: 0px 130px;
}

.resume-head {
    /* color: #757575;
    font-size: 20px;
    font-weight: 600; */
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.resume-year {
    color: #757575;

    font-size: 20px;
    font-weight: 600;
}
.resume-des{
    color:  #757575;

font-size: 16px;
font-weight: 400;
}
.resume-container{
    display: flex;
    gap: 71px;
}

/* sagor  */
.btn2{
 /* justify-content: center; */
 text-align: center;
 justify-content: center;
 align-items: center;
}
.what-i{
    margin: 0 130px;
}